:root {
  --body-bg-color: #121214;
  --text-color: #E1E1E6;
  --title-color: #04D361;
  --form-color: #A8A8A8;
  --bg-button-color: #8257e5;
}

* {
  margin: 0;
  font-family: Spartan, Work Sans;
}

body {
  background-color: var(--body-bg-color);
}

h1, h2 {
  color: var(--title-color);

  font-size: 24px;
  font-weight: 700;
}

h3 {
  color: var(--text-color);

  font-size: 14px;
  font-weight: 700;
}

p {
  color: var(--text-color);

  font-size: 14px;
  font-weight: 400;
}

a {
  color: var(--bg-button-color);
}

.form-section {
  background-color: var(--body-bg-color);

  height: 100vh;
  
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-section .form-content {
  flex: 1;

  display: flex;
  flex-direction: column;

  min-width: 550px;
  padding-left: 10vw;
}

.form-section .form-content img {
  width: 50%;
  min-width: 250px;
  max-width: 400px;  

  margin-bottom: 90px;
}




.form-content .form-description{
  margin-bottom: 50px;
  padding-right: 35px;
}

.form-content .form-description h3{
  margin: 10px 0;
}





.form-content .form-fields {
  position: relative; 
}

.form-content .form-fields p {
  color: var(--form-color);
  font-size: 14px;
  font-weight: 700;

  margin-bottom: 17px;
}

.form-content .form-fields .form-email {
  position: relative;

  width: 55vw;
  min-width: 300px;

  box-shadow: 4px 10px 15px 0px #00000080;
}

.form-content .form-fields .form-email button {
  position: absolute;
  right: 0;
  top: 0;
  
  background-color: var(--bg-button-color);
  color: var(--text-color);
  font-size: 24px;
  line-height: 2;
  border: none;

  height: 48px;
  width: 48px;

  cursor: pointer;
}

.form-content .form-fields input {
  background-color: white;

  position: relative;

  padding: 0;
  padding-left: 20px;
  width: calc(100% - 20px);
  height: 48px;
  border: none;
}

.form-content .form-fields::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 5px;
  height: 48px;
  z-index: 10;
  background: var(--title-color);
}

.form-content a {
  text-decoration: none;

  margin: 50px 0 150px 0;
}





.form-section .bg-right {
  flex: 1;

  background-color: aquamarine;
  height: 100%;
}

.form-section .bg-right img {
  height: 100%;
  width: 100%;
  display: block;

  object-fit: cover;
  object-position: right top;
}

